<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Edit Profile</title>
</head>
<body>
    <div class="form">
        <h1></h1>
       <form action="/{{ user.id }}/edit" method="POST">

        <div class="form__group">
            <input name="email" type="text" value ="{{ user.email }}" class="form__input" />
        </div>

        <div class="form__group">
            <input name="name" type="text" value ="{{ user.name }}" class="form__input" />
        </div>

        <div class="form__group">
            <input name="address" type="text" value ="{{ user.address }}" class="form__input" />
        </div>

        <div class="form__group">
            <input name="mobile" type="text" value ="{{ user.mobile }}" class="form__input" />
        </div>
          
        <button type="submit">Apply</button>
        </form>
        <form action="/profile">
           <input type="submit" value="Back" />
        </form> 
    </div>
    
</body>
</html>
